/*DOCTYPE html */

html

.lang="fr

head

{
	display: none;
}

title
.cv

.conteneur
{
	display: block;
}

/*Fin head */


/*body */

body


/*Aside, colgauche_gauche_principale */

aside
{ 
	display: inline-block;
	display: flex;
	flex-direction: column;
	vertical-align: top;
	background-color: #ffa500;
	max-width: 15%;
	margin: 3px;
	border: 1px;
}

	
/*photo  */

#photo
{ 
  	background-color:#ffa500;
  	text-align: center;
}

.roundImage
{
    overflow:hidden;
    -webkit-border-radius:150px;
    -moz-border-radius:150px;
    border-radius:150px;
    max-width:150px;
    max-height:150px;  
}


/*Aside h3 */


 aside h3 
{ 
	border: 1px solid black;	
	background-color:#000000; /*fond noir */
	color:#ffa500; 
 	text-transform: uppercase;
 	text-align: center;
 	font-weight: bold;
	padding-top: 5px;
	margin-bottom: 5px;
  	font-size: 1.3em; 
 	border-radius: 1%;
}

/*Section contact */


/*Paragraphe dans contact */
p 
{
 	font-size: 0.8em;
 	text-align: left;
 	font-weight: 300px;
 	margin-left: 13px;
 	margin-bottom: 10px;		
}

{	font-family: 'droid_sansbold', Arial, sans-serif}


/*Fin de section contact */

	

 /*Section a_propos_de_moi */

 p
{ 
	font-size: 0.8em;
 	font-style: normal;
 	text-align: justify;
 	margin-left: 25px;
 	margin-right: 25px;
}

{	font-family: 'droid_sansbold', Arial, sans-serif}

 /*Fin de section a_propos_de_moi */

/*Section loisirs */

aside h3
 { 	
	background-color: #000000; /*fond noir */
 	text-transform: uppercase;
 	text-align: center;
 	font-weight: bold;
 	padding-top: 5px;
	margin-bottom: 5px;
  	font-size: 1.3em; 
 	border-radius: 1%;
 }

 h3.loisirs
{
	display: flex;
	justify-content:space-around;
	margin-top: 50px;
	margin-bottom: 50px;
    text-align:center;
}

i.fa-walking 
{
 	border:2px solid black;
 	color: black;
 	text-align: center;
 	width: 50px;
 	line-height:50px;
 	height: 50px;
 	border-radius: 100px;
}

i.fa-seedling
{
 
 	border:2px solid black;
 	color: black;
 	width: 50px;
 	line-height: 50px;
 	height: 50px;
 	border-radius: 100px;
 	text-align: center;
}

i.fa-ying-yang
{
 	
 	border:3px solid black;
 	color: black;
 	width: 50px;
 	line-height: 50px;
 	height: 50px;
 	border-radius: 100px;
 	text-align: center;
}

/*Fin de bloc aside */


/* Main col_droite_principale */

 
main

{
	
	width: 85%; 
	height: auto;
}


/*Le titre principale de mon CV */

header h1 h2
{
 	font-family: 'droid_sansbold', Arial, sans-serif
} 

header h1

{

	text-align: left;
    font-size: 40px;
    text-transform: uppercase; 
    margin-top: 80px;
    padding-left: 50px;
  }

.introduction
{
	color: #ffa500;
}

header h2 
{
    font-size: 20px;
    text-align: left;
    padding-top: 2px; 
    padding-left: 50px;
    margin-bottom:60px;    
}

.souligné
{
	text-decoration: underline;
	color: #ffa500;
}

/*Fin de header */


/*Contenu de la section formation */

/*Article 1 dans formation */


.fa-graduation-cap 
{
	background-image: #ffa500;
	margin-right: 15px;
	font-size: 25px;
	padding-left: 50px;
}

h3 .formation .expe_pro .recom;
{
 	text-transform: uppercase;
 	font-weight: bold;
  	text-align: left;
  	margin-right:6%
  	margin-bottom: 2px;
  	padding-bottom: 2px; 
}

/*soulignement desous formation */

hr
{
	border-radius: 3px solid #ffa500;
}

/* article 2 dans formation */

.diplome
{
	display: flex;
	margin-top: 40px;
	padding-left: 50px;
	margin-bottom: 25px
}
.fa-dot-circle 
{
	font-size: 50%;
	margin-right: 10px;
}

.class
{
	text-align: center;	
}

/*dates_lieu */

.date_lieu
{
	width: 15%;
}
h4 
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 0px;
	text-align: center;
}
h5
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 0px;
	text-align: center;
}


p
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 0px;
}

/*article 2 dans formation */

.diplome
{
	display: flex;
	margin-top: 40px;
	padding-left: 50px;
	margin-bottom: 25px
}


.fa-circle
{
	font-size: 1%;
	margin-right: 10px;
}

.class
{
	text-align: center;
}
.date-lieu
{
	width: 15%;
}
i	
{
	margin-top: 0px;
	margin-bottom: 0px;
	color: #ffa500;
}

h4 h5
{
	
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 0px;
	text-align: center;
}

p
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 0px;
	text-align: center justify;	
}

/*Fin section formation */


/*Contenu de la section experience professionnelle */


/* 1 ère article dans exp_pro */

.fa-briefcase
{
	background-image: #ffa500;
	margin-right: 15px;
	font-size: 25px;
	padding-left: 50px;
	margin-right: 15px;
	font-size: 20px;
}

hr
{
	border: 1px solid #ffa500;
}

.diplome
{
	display: flex;
	margin-top: 40px;
	padding-left: 50px;
	margin-bottom: 25px
}
.fa-dot-circle 
{
	font-size: 50%;
	margin-right: 10px;
}


.class
{
	text-align: center;	
}

/*dates_lieu */

.date_lieu
{
	width: 15%;
}
i	
{
	margin-top: 0px;
	margin-bottom: 0px;
	color: #ffa500;
}

h4 
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 0px;
	text-align: center;
}
h5
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}


p
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 0px;	
}
/* fin de 1ère article dans exp_pro */

/*second article dans exp_pro */


.diplome
{
	display: flex;
	margin-top: 40px;
	padding-left: 50px;
	margin-bottom: 25px
}
.fa_circle 
{
	font-size: 50%;
	margin-right: 10px;
}


.class
{
	text-align: center;	
}

/*dates_lieu */

.date_lieu
{
	width: 15%;
}
i	
{
	margin-top: 0px;
	margin-bottom: 0px;
	color: #ffa500;
}

h4 
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 0px;
	text-align: center;
}
h5
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
p
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 0px;	
}
/*fin second article dans exp_pro


/* 3ème partie dans exp_pro */


.diplome
{
	display: flex;
	margin-top: 40px;
	padding-left: 50px;
	margin-bottom: 25px
}
 .fa-circle
{
	display: flex;
	margin-top: 40px;
	padding-left: 50px;
	margin-bottom: 25px
}

i.fa-circle
{
	font-size: 1%;
	margin-right: 10px;
}

.class
{
	text-align: center;
}
.date .lieu
{
	width: 15%;
}
i	
{
	margin-top: 0px;
	margin-bottom: 0px;
	color: #ffa500;
}

h4 h5
{
	
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 0px;
	text-align: center;
}

p
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 0px;
	text-align: center;	
	margin-bottom: 25px
}

/*fin de la 3ème article dans exp_pro */

/* fin section exp_pro */